body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 36px; /* Aumenta el tamaño de la letra según tus preferencias */
    color: white;
}

#no {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.heart-rain {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    clip-path: polygon(
        50% 0%,
        100% 50%,
        75% 100%,
        50% 75%,
        25% 100%,
        0% 50%
    );
    animation: heartRainAnimation 1s ease-out;
}

@keyframes heartRainAnimation {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
